:root {
    --accent: rgb(222, 107, 72);
    --accent-alpha-20: rgba(90, 42, 39, .2);
    --accent-alpha-70: rgba(90, 42, 39, .7);
    --background: rgb(20, 17, 15);
    --color: whitesmoke;
    --border-color: rgba(255, 255, 255, .1);
    --footnote-color: rgba(255, 255, 255, .5)
}